name: Sync to Fork

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork
        uses: repo-sync/github-sync@v2
        with:
          source_repo: "Okefunmilayo/layo-hair-app"
          source_branch: "master"
          destination_repo: "toptech5419/layo-hair-app"
          destination_branch: "master"
          github_token: ${{ secrets.SYNC_TOKEN }}
